.menu input, .menu label {
    display: none;
}

@media (max-width: 420px) {

 .menu input, .menu label {
    display: block;
 }

 .header-social {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ECECEC;
    padding-top: 16px;
}

/* ховаєм чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилізуємо кнопку */
  .menu__btn {
    display: flex; 
    align-items: center;  
    position: fixed;
    top: 47px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 100;
  }
  /* додаємо "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  /* контейнер меню */
.menu__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    margin-top: 97px;
    padding: 97px 0;
    list-style: none;
    text-align: center;
    background-color: #FFFFFF;
    z-index: 10;
  }

  .menu ul li {
    margin: 24px 0;
  }

  .li-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* елементи меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}

}
