@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

@font-face {
	font-family: 'GoogleSans';
	src: url('../fonts/GoogleSans-Regular.eot');
	src: local('☺'), url('../fonts/GoogleSans-Regular.woff') format('woff'), url('../fonts/GoogleSans-Regular.ttf') format('truetype'), url('../fonts/GoogleSans-Regular.svg') format('svg');
	font-weight: 400;
	font-style: 400;
}

/*------------------------------------------------------------------------------------------*/

header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
    position: fixed;
    z-index: 101;
    width: 100%;
}

.header-box {
    max-width: 1094px;
    margin: 32px auto;
    padding: 0 27px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 145px;
    height: 32px;
}

.logo img {
    width: 100%;
}

.menu ul li {
    display: inline-block;
    margin-left: 48px;
    font-weight: 500;
    line-height: 24px;
}

.menu ul li a {
    color: #000000;
}

.header-social {
    display: none;
}

/*------------------------------------------------------------------------------------------*/

main {
    padding-top: 100px;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.info-block {
    max-width: 510px;
}
.comment {
    font-weight: 500;
    line-height: 24px;
    color: #4F68FF;
    padding: 12px;
}

h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 62px;
    color: #000000;
}

h2, .subtitle {
    padding: 20px;
}

/*------------------------------------------------------------------------------------------*/

.topscreen {
    background-color: #000000;
    position: relative;
}

.topscreen .bgrnd {
    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 0px 0px 40px 40px;
}

.topscreen .info-block {
    text-align: center;
    margin: 76px auto 0;
    max-width: 826px;
}

.topscreen .subtitle {
    max-width: 500px;
    margin: 0 auto;
}

.topscreen .title {
    font-size: 80px;
    line-height: 80px;
}

.topscreen .title span {
    color: rgba(0, 0, 0, 0.24);
}

.topscreen .cards {
    max-width: 880px;
    margin-top: 44px;
    padding: 0 27px;
}

.topscreen .cards img, .topscreen .call-but img {
    width: 100%;
}

.topscreen .call-but {
    width: 48px+10%;
    height: 48px+10%;
}

.topscreen .call-but {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

@media (max-width: 420px) {
    .topscreen .title {
        font-size: 50px;
        line-height: 50px;
    }
    .topscreen .info-block {
        margin: 52px auto 0;
    }
}

/*------------------------------------------------------------------------------------------*/

.underscreen {
    background-color: #000000;
    color: #FFFFFF;
    padding: 120px 0;
}

.underscreen .info-block {
    text-align: center;
    margin: 0 auto;
}

.underscreen .picture {
    width: 48px;
    height: 48px;
    margin: 0 auto 34px;
}

.underscreen .picture img{
    width: 100%;
}

.underscreen .title {
    font-weight: 800;
    font-size: 60px;
    line-height: 62px;
    color: #FFFFFF;
}

@media (max-width: 420px) {
    .underscreen .title {
        font-size: 40px;
        line-height: 40px;
    }
    .underscreen {
        padding: 64px 0;
    }   
}

/*------------------------------------------------------------------------------------------*/

.chess-block {
    background-color: #000000;
    margin-bottom: 120px;
}

.chess-block .bgrnd {
    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 40px 40px  0px 0px;
}

.top-row, .bottom-row {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chess-block .picture, .chess-block .text-box {
    flex: 0 0 49%;
}

.chess-block .picture {
    width: 500px;
    height: 500px;
}

.chess-block .picture img {
    width: 100%;
}

.chess-block .title {
    font-weight: 800;
    font-size: 60px;
    line-height: 62px;
}

.chess-block .title span {
    color: rgba(0, 0, 0, 0.24);
}

@media (max-width: 420px) {
    .top-row, .bottom-row {
        flex-direction: column;
    }
    .chess-block .picture, .chess-block .text-box {
        flex: 0 0 100%;
    }
    .chess-block .picture {
        width: 75%;
        height: 75%;
        margin: 0 auto;
    }
    .chess-block {
        margin-bottom: 44px;
    }
    .top-row, .bottom-row {
        padding-top: 64px;
        text-align: center;
    }
    .chess-block .title {
        font-size: 40px;
        line-height: 40px;
    }
    .bottom-row .picture {
        order: 1;
    }
    .bottom-row .text-box {
        order: 2;
    }

}

/*------------------------------------------------------------------------------------------*/

.features .info-block {
    text-align: center;
    margin: 0 auto 28px;
}

.features .button a {
    background-color: #1C0BE0;
    border-radius: 58px;
    color: #FFFFFF;
    font-size: 16px;
    color: #FFFFFF;
    padding: 16px 32px;
    margin: 20px;
    display: inline-block;
}

.items-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.item-box {
    padding: 30px 40px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0px 24px 32px rgba(219, 222, 225, 0.2);
    border-radius: 24px;
    margin: 20px;
    text-align: center;
    flex: 1 1 29%;
}

.item-box .icon {
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.item-box .icon img {
    width: 100%;
}

.item-box .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-top: 30px;
}

.item-box .subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-top: 8px;
    padding: 0;
}

@media (max-width: 420px) {
    .features h2 {
        font-size: 40px;
        line-height: 40px;
    }
    .items-block {
        margin-bottom: 68px;
    }
}

/*------------------------------------------------------------------------------------------*/

.subscribe .info-block {
    text-align: center;
    margin: 0 auto 120px;
}

.mail-block {
    margin: 20px 60px;
    font-weight: 500;
    line-height: 24px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    padding: 8px 8px 8px 28px;
    display: flex;
    justify-content: space-between;
}

.mail-block input {
    font-size: 16px;
    background: none;
    flex: 1 1 100%;
}

.mail-block button {
    background-color: #1C0BE0;
    border-radius: 58px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 12px 20px;
}

@media (max-width: 420px) {
    .subscribe h2 {
        font-size: 40px;
        line-height: 40px;
    }
    .subscribe .info-block {
        margin: 0 auto 112px;
    }
    .mail-block {
        margin: 20px;
    }
    .mail-block input {
        width: 120px;
    }
}

/*------------------------------------------------------------------------------------------*/

footer {
    background-color: #000000;
    font-family: 'GoogleSans';
}

.footer-top {
    background-color: #FFFFFF;
}

.footer-vector img {
    width: 100%;
}

.footer-block {
    max-width: 1094px;
    margin: 0 auto;
    padding: 40px 27px;
}

.footer-block, .footer-social {
    display: flex;
    justify-content: space-between;
}

.footer-block ul li {
    display: inline-block;
    padding: 0 17px;
    font-size: 14px;
    line-height: 18px;
    border-right: 1px solid #86868B;
}

.footer-block ul li:first-child {
    padding: 0 17px 0 0;
}

.footer-block ul li:last-child {
    border-right: none;
}


.footer-block ul li a {
    color: #86868B;
}

.telegram, .facebook, .linkedin {
    width: 24px;
    height: 24px;
    margin-left: 32px;
}

.telegram img, .facebook img, .linkedin img {
    width: 100%;
}

.vector-mobile {
    display: none;
}

@media (max-width: 420px) {
    .vector-mobile {
        display: block;
    }
    .vector-desktop {
        display: none;
    }
    .footer-block {
        flex-direction: column;
    }
    .footer-list {
        display: flex;
        flex-direction: column;
    }
    .footer-block ul li {
        border-right: none;
        text-align: center;
        padding: 0;
    }
    .footer-block ul li::after {
        content: '';
        display: block;
        width: 16px;
        height: 1px;
        background-color: #86868B;
        margin: 18px auto;
    }

    .footer-block ul li:first-child {
        padding: 0;
    }

    .footer-block ul li:last-child:after {
        width: 0;
    }

    .telegram, .facebook, .linkedin {
        margin: 16px 16px 32px 16px;
    }

    .footer-block, .footer-social {
        justify-content: center;
    }
    
}